/* FID 797677 */
/* https://es.xumo.com/mp/custom_CSS/mpCSS.css */

/* 1069046 | 10.20.2023 */
@media only screen and (min-width:1440px){
	#root .footer{
	  justify-content: center;
	  padding-left: 0.5rem;
	  padding-right: 9.5rem;
	}
  }

/* 1069266 | 10.30.2023 */ 
#inqC2CPlatCoSupportFixed .platco{
	width: 124px;
  }

/* 1088598.7 | 2.15.2024 */
button[aria-label^="Cancelar la suscrip"] .button{
	white-space: normal;
  }
  
/* 1088598.8 | 2.15.2024 */
button[aria-label^="Suscribirse de nuevo"] .button{
    white-space: normal;
  }

/* 1088598 | 2.21.2024 */
#app-dashboard > main > div > div > div > div > div.wallet.col-start-2 > div{
	padding: 24px 10px !important;
  }


/*00014833 | 9.4.24 */
 .card-int-revamp{
  display:none;
}


